<%- include('../partials/header') -%>
<h1 id="#opinion">Votre avis</h1>

<section>
    <form action="/opinion/addStars" method="POST">
        <div class="container-opinion">
            <div class="feedback">
                <div class="rating">
                    <input type="radio" name="rating" id="rating-5" value="5">
                    <label for="rating-5"></label>
                    <input type="radio" name="rating" id="rating-4" value="4">
                    <label for="rating-4"></label>
                    <input type="radio" name="rating" id="rating-3" value="3">
                    <label for="rating-3"></label>
                    <input type="radio" name="rating" id="rating-2" value="2">
                    <label for="rating-2"></label>
                    <input type="radio" name="rating" id="rating-1" value="1">
                    <label for="rating-1"></label>
                    
                    <div class="emoji-wrapper">
                        <div class="emoji">
                            <%- include('../partials/rating-0') -%>
                            <%- include('../partials/rating-1') -%>
                            <%- include('../partials/rating-2') -%>
                            <%- include('../partials/rating-3') -%>
                            <%- include('../partials/rating-4') -%>
                            <%- include('../partials/rating-5') -%>
                        </div>
                    </div>
                </div>
                <input class="submit-btn" type="submit" value="J'ai fait mon choix">
                <span class="message"><% message %></span>
            </div>
        </div>
    </form>    
    
    <!-- Results -->
    <p>Moyenne de <% starAverage %> sur 5. Il y a eu <% starNb %> votes.</p>
    
    <div class="row-star">
        <!-- 5 stars -->
        <div>
            <%- include('../partials/star5') -%>
            <div><% sumStar5 %></div>
        </div>
        
        <!-- 4 stars -->
        <div>
            <%- include('../partials/star4') -%>
            <div><% sumStar4 %></div>
        </div>
        
        <!-- 3 stars -->
        <div>
            <%- include('../partials/star3') -%>
            <div><% sumStar3 %></div>
        </div>
        
        <!-- 2 stars -->
        <div>
            <%- include('../partials/star2') -%>
            <div><% sumStar2 %></div>
        </div>
        
        <!-- 1 star -->
        <div>
            <%- include('../partials/star1') -%>
            <div><% sumStar1 %></div>
        </div>
        
    </div>
    
</section>
<%- include('../partials/footer') -%>